.players {

  &__title {
    @include title($purple, 3rem);
  }

  &__cards-container {
    @include flex-center;
    flex-wrap: wrap;
    gap: 3rem;
  }


  &__card {
    flex: 1 1 33.3%;
  }

  &__card-img {
    width: 100%;
    height: auto;

    & > img{
      @include card-img;
    }
  }

  &__card-h2 {
    @include title($purple, 2rem);
  }

  & a{
    @include btn($purple);
  }
}
