html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #0b132b;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

td {
  text-align: center;
}

.teams__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  color: color;
  text-transform: uppercase;
}
.teams__cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.teams__card {
  flex: 1 1 33.3%;
}
.teams__card-img {
  width: 100%;
  height: auto;
}
.teams__card-img > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.teams__card-h2 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: color;
  text-transform: uppercase;
}
.teams p {
  color: #ffffff;
  text-align: center;
}
.teams a {
  border: 2px solid #d4b52f;
  border-radius: 1rem;
  color: #d4b52f;
  padding: 1rem 1.2rem;
  text-decoration: none;
}

.team__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  color: color;
  text-transform: uppercase;
}
.team__cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.team__card {
  flex: 1 1 33.3%;
}
.team__card-img {
  width: 100%;
  height: auto;
}
.team__card-img > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.team__card-h2 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: color;
  text-transform: uppercase;
}
.team a {
  border: 2px solid #ffffff;
  border-radius: 1rem;
  color: #ffffff;
  padding: 1rem 1.2rem;
  text-decoration: none;
}

.players__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  color: color;
  text-transform: uppercase;
}
.players__cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.players__card {
  flex: 1 1 33.3%;
}
.players__card-img {
  width: 100%;
  height: auto;
}
.players__card-img > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.players__card-h2 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: color;
  text-transform: uppercase;
}
.players a {
  border: 2px solid #9e87cb;
  border-radius: 1rem;
  color: #9e87cb;
  padding: 1rem 1.2rem;
  text-decoration: none;
}