<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The League </title>
    <link rel="stylesheet" href="./assets/styles/styles.css">
</head>
<body>
    {% block header %}
    <header>
    <h1>THE LEAGUE</h1>
    <nav>
        <ul>
            <li>
                <a href="">
                    Les teams
                </a>
            </li>
            <li>
                <a href="">
                    Les players
                </a>
            </li>
            <li>
                <a href="">
                    Les matchs
                </a>
            </li>
        </ul>
    </nav>
    </header>
    {% endblock %}

    {% block main %}
    {% endblock %}

</body>
</html>