{% block main %}

<main class="match">
  <h1 class="match__title">... VS ...</h1>
  <p class="match__date"></p>
  <div class="match__cards">
    <div class="match__card">
      <div class="match__img">
        <img src="" alt="">
      </div>
    </div>
    <div class="match__card">
      <div class="match__img">
        <img src="" alt="">
      </div>
    </div>
  </div>
  <h2 class="match__subtitle">LES PERFORMANCES</h2>
  <table class="match__table">
    <thead class="match__table-header">
      <th>
        <td>PLAYER</td>
        <td>TEAM</td>
        <td>POINTS</td>
        <td>ASSISTS</td>
      </th>
    </thead>
    <tbody class="match__table-body">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</main>

{% endblock %}