{% block main %}
<main class="matches">
  <h1 class="matches__title">LES MATCHS</h1>

  <section class="matches__match">
    <h2 class="matches__h2">... VS ...</h2>
    <p class="matches__date">...</p>
    <div class="matches__cards">
      <div class="matches__card">
        <div class="matches__card-img">
          <img src="" alt="">
        </div>
      </div>
      <div class="matches__card">
        <div class="matches__card-img">
          <img src="" alt="">
        </div>
      </div>
    </div>
    <a href="" class="matches__btn">DETAILS DU MATCH</a>
  </section>

  <section class="matches__match">
    <h2 class="matches__h2">... VS ...</h2>
    <p class="matches__date">...</p>
    <div class="matches__cards">
      <div class="matches__card">
        <div class="matches__card-img">
          <img src="" alt="">
        </div>
      </div>
      <div class="matches__card">
        <div class="matches__card-img">
          <img src="" alt="">
        </div>
      </div>
    </div>
    <a href="" class="matches__btn">DETAILS DU MATCH</a>
  </section>

  <section class="matches__match">
    <h2 class="matches__h2">... VS ...</h2>
    <p class="matches__date">...</p>
    <div class="matches__cards">
      <div class="matches__card">
        <div class="matches__card-img">
          <img src="" alt="">
        </div>
      </div>
      <div class="matches__card">
        <div class="matches__card-img">
          <img src="" alt="">
        </div>
      </div>
    </div>
    <a href="" class="matches__btn">DETAILS DU MATCH</a>
  </section>
</main>

{% endblock  %}