{% block main %}
<main class="players">
  <h1 class="players__title">LES PLAYERS DE LA LEAGUE</h1>

  <div class="players__cards-container">
    <div class="players__card">
      <div class="players__card-img">
        <img src="" alt="">
      </div>
      <h2 class="players__card-h2"></h2>
      <p></p>
      <a href="">DECOUVREZ</a>
    </div>
  </div>
</main>
{% endblock %}