<section class="teams">
  <h1 class="teams__title">LES TEAMS DE LA LEAGUE</h1>

  <div class="teams__cards-container">
    <div class="teams__card">
      <div class="teams__card-img">
        <img src="" alt="">
      </div>
      <h2 class="teams__card-h2"></h2>
      <p></p>
      <a href="">DECOUVREZ</a>
    </div>
  </div>
</section>